<?php

namespace App\Migrations;

use Alejodevop\Gfox\Database\Migration;
use Alejodevop\Gfox\Database\Blueprint;

class %MIGRATION_NAME% extends Migration {

    public function mount(Blueprint $table): Blueprint {
        return $table;
    }

    public function unmount(Blueprint $table): Blueprint {
        return $table;
    }
}