<?php

namespace App\Model;

use Alejodevop\YowlOrm\Model;

/**
%ATTRIBUTES%
 */
class %MODEL_NAME% extends Model {
    protected string $table = '%TABLE_NAME%';

    public function relations() {
        return [];
    }
}